NODE_ENV=development
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=sistema_alimentario
PORT=3001


DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=sistema_alimentario
PORT=3001
NODE_ENV=development